<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{name}}'s First Angular Project!
  </h1>
  <img width="300" alt="Pokeball Logo" src="https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
   {{itemList[0]}}
  </li>
  <li>
    {{itemList[1]}}
  </li>
  <li>
    {{itemList[2]}}
  </li>
</ul>
<p>The rectangle has a length of {{rectangle.length}} cm, a width of {{rectangle.width}} cm,
  and an area of {{rectangle.area()}} cm^2.</p>

